openapi: "3.0.0"
info: { }

paths: { }

components:
  schemas:
    User:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        tags:
          description: |
            A Set of unique tags.
          type: array
          items:
            type: string
          uniqueItems: true

    TagList:
      type: array
      items:
        type: string
      uniqueItems: true
