openapi: "3.0.0"
info: { }

paths: { }

components:
  schemas:

    DataTypes:
      properties:
        string:
          type: string
        date:
          type: string
          format: date
        dateTime:
          type: string
          format: date-time
        time:
          type: string
          format: partial-time
        byte:
          type: string
          format: byte
        binary:
          type: string
          format: binary
        email:
          type: string
          format: email
        uuid:
          type: string
          format: uuid
        uri:
          type: string
          format: uri
        url:
          type: string
          format: url
        defaultInt:
          type: integer
        int32:
          type: integer
          format: int32
        int64:
          type: integer
          format: int64
        defaultNumber:
          type: number
        float:
          type: number
          format: float
        double:
          type: number
          format: double
        bool:
          type: boolean
        data:
          description: Data

    Sample:
      type: object
      required:
        - prop1
        - prop2
      properties:
        prop1:
          type: string
        prop2:
          type: integer
        prop3:
          type: string
        prop4:
          type: integer

    RootEnum:
      type: string
      enum: [ "Admin", "User", "Visitor" ]
      description: |
        Role of the user
        * `Admin`: Administrator role
        * `User`: User role
        * `Visitor`: Visitor role

    InlineEnum:
      type: object
      properties:
        role:
          type: string
          enum: [ "Admin", "User", "Visitor" ]
          description: |
            Role of the user
            * `Admin`: Administrator role
            * `User`: User role
            * `Visitor`: Visitor role

    RootMapSchema:
      type: object
      additionalProperties:
        type: object
        required:
          - name
        properties:
          name:
            type: string
          description:
            type: string

    InlinedMapSchema:
      type: object
      properties:
        map:
          type: object
          additionalProperties:
            type: object
            required:
              - name
            properties:
              name:
                type: string
              description:
                type: string

    Medication:
      type: object
      required:
        - name
        - kind
      properties:
        name:
          type: string
        kind:
          type: string
          enum:
            - NEW
            - EXISTING
            - DELETED
          format: MedicationKind

