# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: build

on: [ push ]

jobs:
  test-and-build-plugin:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew :plugin:build

  test-examples:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run Jackson 2.08 example tests
        run: ./gradlew :example:jackson208Test
      - name: Run Jackson 2.19 example tests
        run: ./gradlew :example:jackson219Test
      - name: Run example tests
        run: ./gradlew :example:test
      - name: Run jakarta 3 example tests
        run: ./gradlew :example-jakarta-3:test
      - name: Run springboot2 integration tests
        run: ./gradlew :springboot2-example:integrationTest
      - name: Run springboot3 integration tests
        run: ./gradlew :springboot3-example:integrationTest
      - name: Run springboot4 integration tests
        run: ./gradlew :springboot4-example:integrationTest
